@charset "UTF-8";
.top{
	width:100%;
}
.all{
	background-color: #ffffff;
	width:95%;
	position: relative;
	left: 35px;
}
.right{
	border:1px solid #c0c0c0;
	width:75%;
	float:right;
}
.left{
	border:1px solid #c0c0c0;
	width:24%;
	float:left;
}