<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 second"
	debug="false">
	<contextName>xingtu</contextName>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>D:\log\browse.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.xingtu.log.Browse" level="INFO"
		additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
		<file>D:\log\strategy.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.xingtu.log.StrategyLog" level="INFO"
		additivity="false">
		<appender-ref ref="FILE1" />
	</logger>
	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<file>D:\log\journey.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.xingtu.log.JourneyLog" level="INFO"
		additivity="false">
		<appender-ref ref="FILE2" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>