.all{
	background-color: #ffffff;
	width:100%;
	height:890px;
}
.left{
	border:2px solid #cccccc;
	width:20%;
	height:800px;
	background-color:#eff1f1;
	margin-left:91px;
	float:left;
}
.myright{
	border-left:5px solid #cccccc;
	width:73%;
	height:803px;
	float:right;
	backdround-color:#ffffff;
}
.tit{
	border-bottom:5px solid #ffffff;
	width:240px;
	height:50px;
	font-size:30px;
	margin-left:15px;
	margin-top:20px;	
	
}
#titna{
	width:100%;
	height:auto;
}
#did0{
	width:100%;
	height:40px;
	font-size:19px;
	float:left;
	margin-top:15px;
	display:inline;
}
#xu{
	width:200px;
	height:40px;
	display:inline;
	float:left;
	margin-left:20px;
	border:1px solid #000000;
	
}
#myci1,#myci2,#myci3,#myci4,#myci5{
	width:80%;
	height:40px;
	border:1px solid #000000;
	margin-top:12px;
	margin-left:10%;
}
#dizhi1,#dizhi2,#dizhi3,#dizhi4{
	font-size:20px;
	margin-left:15px;
	float:left;
	display:inline;
}
#ts1,#ts2,#ts3,#ts4{
	display:inline;
}
#lef1,#lef2,#lef3,#lef4,#lef5{
	width:20px;
	height:20px;
	margin-left:40px;
	display:inline;
} 
#rig1,#rig2,#rig3,#rig4{
	width:20px;
	height:20px;
	margin-left:10px;
	display:inline;
}
#del1,#del2,#del3,#del4{
	width:20px;
	height:20px;
	float:right;
	display:inline;
}

#tianjia{
	width:220px;
	height:40px;
	font-size:19px;
	margin-top:20px;
	margin-left:15px;
	text-align:center;
	float:left;
}
#tianjia img{
	width:20px;
	height:20px;
	float:right;
}
.bian{
	border-top:2px solid #ffffff;
	width:240px;
	height:50px;
	margin-top:350px;
	margin-left:20px;
}
.bj{
	border:2px solid #ffffff;
	width:160px;
	height:40px;
	font-size:20px;
	margin-top:20px;
	margin-left:30px;
	text-align:center;
	
}
.shang{
	border:2px solid #cccccc;
	width:920px;
	height:70px;
	background-color:#eff1f1;
	
}
.ti1{
	width:130px;
	height:35px;
	font-size:24px;
	margin-left:30px;
	margin-top:25px;
	text-align:center;
	float:left;
}
.ti2{
	width:100px;
	height:35px;
	font-size:24px;
	margin-left:10px;
	margin-top:25px;
	text-align:center;
	float:left;
}
.ti3{
	width:100px;
	height:35px;
	font-size:24px;
	margin-left:10px;
	margin-top:25px;
	text-align:center;
	float:left;
}
.ssk{
	float:right;
	margin-top:30px;
	margin-right:15px;
}
.jingdian{
	width:920px;
	height:730px;
	
}
img:hover
{
	opacity: 0.6;
}
.dian1{
	margin-top:50px;
	width:220px;
	height:200px;
	margin-left:70px;
	float:left;
}
.dian1 img{
	max-width: none;
	width: calc(100% + 50px);
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-40px, 0, 0);
	margin-bottom: 0;
}
.ming1{
	margin-top:5px;
	width:120px;
	height:30px;
	text-align:center;
	margin-left:50px;
	font-size:20px;
	
}