.qn-header{
	height:350px;
	width:100%;
}
.main-zt{
	background-image:url(../../img/beij2.jpg);
	height:280px;
	width:100%;
}
.user-info{
	margin-left:250px;
}
.flpic{
	margin-top:50px;
	float:left;
}
.flintro{
	float:left;
	margin-left:40px;
	margin-top:30px;
}
.fruser-fans{
	float:right;
	margin-right:200px;
	margin-top:35px;
}
.fz{
	float:right;
	font-size:30px;
	margin-right:20px;
}
.hz{
	float:right;
	font-size:30px;
	margin-right:20px;
}
.fy{
	float:right;
	font-size:30px;
	margin-right:20px;
}
.mynav{
	width:100%;
	height:50px;
	background-color:#cccccc;
}
.item{
	display:block;
	float:left;
	padding-left:20px;
	margin-left:70px;
	font-size:20px;
	padding-top:7px;
}
