.xixi{
	text-align:center;
	font-size:25px;
	margin-top:7%;
	margin-bottom:29px;
	border:2px solid #cccccc;
	height:780px;
	width:800px;
	margin-left:340px;
	padding-top:25px;
	
}
.xingge,.nicheng,.xingbie,.sheng,.you,.yong,.tijiao,.miyi,.huida{
	margin-top:27px;
}
.xingbie{
	padding-right:220px;
}
