.shouxia{
	width:100%;
	height:1100px;
}
.shoux{
	margin-top:65px;
	margin-left:260px;
}
.sphoto1{
	magin-top:20px;
	width:800px;
	border:2px solid #cccccc;
	height:240px;
	float:left;
	margin-bottom:20px;
}
.sc1{
	margin-left:35px;
	margin-top:25px;
	float:left;
	margin-right:30px;
}
.sz1{
	float:left;
	margin-top:20px;
	font-size:20px;
}
.sz1 p{
	margin-top:20px;
	font-size:14px;
}
.sphoto2{
	magin-top:20px;
	width:800px;
	border:2px solid #cccccc;
	height:240px;
	float:left;
	margin-bottom:20px;
}
.sc2{
	margin-left:35px;
	margin-top:25px;
	float:left;
	margin-right:30px;
}
.sz2{
	float:left;
	margin-top:20px;
	font-size:20px;
}
.sz2 p{
	margin-top:20px;
	font-size:14px;
}
.sphoto3{
	magin-top:20px;
	width:800px;
	border:2px solid #cccccc;
	height:240px;
	float:left;
	margin-bottom:20px;
}
.sc3{
	margin-left:35px;
	margin-top:25px;
	float:left;
	margin-right:30px;
}
.sz3{
	float:left;
	margin-top:20px;
	font-size:20px;
}
.sz3 p{
	margin-top:20px;
	font-size:14px;
}
.sphoto4{
	magin-top:20px;
	width:800px;
	border:2px solid #cccccc;
	height:240px;
	float:left;
	margin-bottom:20px;
}
.sc4{
	margin-left:35px;
	margin-top:25px;
	float:left;
	margin-right:30px;
}
.sz4{
	float:left;
	margin-top:20px;
	font-size:20px;
}
.sz4 p{
	margin-top:20px;
	font-size:14px;
}
.mainbox-right{
	width:200px;
	float:right;
	margin-right:70px;
}
.new-plan{
	border:2px solid #cccccc;
	float:left;
	width:100px;
	height:35px;
	background-color:#ff0000;
	margin-top:25px;
	margin-left:50px;
	
}
.new-note{
	border:2px solid #cccccc;
	float:left;
	width:100px;
	height:35px;
	background-color:#538727;
	margin-top:30px;
	margin-left:50px;
}