.qn-skin {
    background-color: #f4f4f4;
     height:500px;
     width: 100%;
     margin-bottom:30px;
}

.qn-page {
    clear: both;
    width: 976px;
    margin: 0 auto;
    padding: 0;
    height:500px;
}
.mainbox-left{
	width:700px;
	height:450px;
	float:left;
}
.img1{
	margin-top:130px;
	margin-left:290px;
}
.tips {
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #333;
    margin-left:310px;
}
.create {
    font-size: 14px;
    color: #0084bb;
    margin-left:330px;
    margin-bottom:30px;
}
.mainbox-right{
	float:left;
	width:160px;
	height:300px;
	margin-top:100px;
	margin-left:30px;
}
.new-plan{
	border:2px solid #cccccc;
	float:left;
	width:100px;
	height:35px;
	background-color:#ff0000;
	margin-top:25px;
	margin-left:30px;
	
}
.new-note{
	border:2px solid #cccccc;
	float:left;
	width:100px;
	height:35px;
	background-color:#538727;
	margin-top:30px;
	margin-left:30px;
}